@keyframes confetti-spin {
  0% {
    transform: rotate3d(0, 1, 1, 360deg);
  }

  50% {
    transform: rotate3d(0, 1, 1, 180deg);
  }
  
  100% {
    transform: rotate3d(0, 0, 0, 0);
  }
}

@keyframes confetti-fall {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(110vh);
    opacity: 0;
  }
}

.visible {
  opacity:100%;
}

.invisible {
  opacity:0%;
}


.confetti {
  position: fixed;
  animation: confetti-fall 5s ease-out infinite;
  width: 20px;
  height: 20px;
}

.confetti::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  animation: confetti-spin 1s linear infinite;
}

.confetti:nth-child(1)::before {
  background-color: #E84FA9;
}

.confetti:nth-child(2)::before {
  background-color: #6A737D;
  animation-delay: -5s;
  animation-fill-mode: backwards;
  animation-duration: 1.5s;
}

.confetti:nth-child(3)::before {
  background-color: #1369D3;
  animation-delay: -3s;
}

.confetti:nth-child(4)::before {
  background-color: #30A64B;
  animation-delay: -2.5s;
  animation-fill-mode: backwards;
  animation-duration: 1.2s;
}

.confetti:nth-child(5)::before {
  background-color: #6F47BF;
  animation-delay: -4s;
}

.confetti:nth-child(6)::before {
  background-color: #F46A23;
  animation-delay: -6s;
  animation-fill-mode: backwards;
  animation-duration: 1.1s;
}

.confetti:nth-child(7)::before {
  background-color: #FED24E;
  animation-delay: -1.5s;
}

.confetti:nth-child(8)::before {
  background-color: #1369D3;
  animation-delay: -2s;
  animation-fill-mode: backwards;
  animation-duration: 1.8s;
}

.confetti:nth-child(9)::before {
  background-color: #E84FA9;
  animation-delay: -3.5s;
}

.confetti:nth-child(10)::before {
  background-color: #6F47BF;
  animation-delay: -2.5s;
  animation-fill-mode: backwards;
  animation-duration: 1.3s;
}


.confetti:nth-child(1) {
  left: 10%;
  width: 20px;
  height: 20px;
}

.confetti:nth-child(2) {
  left: 20%;
  animation-delay: -5s;
  width: 15px;
  height: 15px;
}

.confetti:nth-child(3) {
  left: 30%;
  animation-delay: -3.2s;
  width: 10px;
  height: 10px;
}

.confetti:nth-child(4) {
  left: 40%;
  animation-delay: -2.5s;
  width: 12px;
  height: 12px;
}

.confetti:nth-child(5) {
  left: 50%;
  animation-delay: -4.1s;
  transform: scale(1.3);
}

.confetti:nth-child(6) {
  left: 60%;
  animation-delay: -6.8s;
  width: 16px;
  height: 16px;
}

.confetti:nth-child(7) {
  left: 70%;
  animation-delay: -1.5s;
  width: 18px;
  height: 18px;
}

.confetti:nth-child(8) {
  left: 80%;
  animation-delay: -2s;
  width: 22px;
  height: 22px;
}

.confetti:nth-child(9) {
  left: 90%;
  animation-delay: -3.5s;
  width: 8px;
  height: 8px;
}

.confetti:nth-child(10) {
  left: 100%;
  animation-delay: -2.5s;
  width: 24px;
  height: 24px;
}